body {
	background-color: #fdfdfd;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	margin-top: 40px;
}

.game-container {
	display: inline-block;
	margin-top: 20px;
}

.score {
	font-size: 24px;
	margin-bottom: 10px;
}

.game-board {
	background-image: url(mole.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 480px;
	height: 320px;
	position: relative;
	margin: 0 auto;
}

.mole {
	position: absolute;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
